
.stop-sticky {
    position: static;
}

.underline-offset-2 {
    text-underline-offset: 2px;
}


@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

.animate-spin {
    animation: spin 1s linear infinite
}

.milestone {
    position: relative;
    width: 100%;
}


html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.target {
    font-kerning: none;
}

[data-valid] .form-input, [data-valid] .form-textarea, [data-valid] .form-select {
    border-color: green;
}

[data-invalid] .form-input, [data-invalid] .form-textarea, [data-invalid] .form-select {
    border-color: red;
}

Form.Message {
    display: none;
}

[data-invalid] Form.Message {
    display: block;
}



.headerVisible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s, transform 0.3s;
}

.headerHidden {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s, transform 0.3s;
}



.headerFullWidth {
    width: 100vw;
    margin: 0 auto!important;
    transition: width 0.3s ease-in-out;
}
/* Media query for headerFullWidth*/
@media (min-width: 768px) {
    .headerFullWidth {
        width: 99.2vw;
    }
}


.headerOnScroll {
    width: 100vw;

}

@media (min-width: 768px){
    .headerOnScroll{
        width: 80%;
        margin: 32px auto 0 auto!important;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        transition: width 0.1s ease-in-out, margin-top 0.1s ease-in-out, border-radius 0.1s ease-in-out;
    }
}



.buy-now--primary-container {
    position: relative;
}

.buy-now--primary-before {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid black; /* Update color as needed */
    border-left: 1px solid black;
    bottom: -2px;
    height: 2px;
    left: 2px;
    width: 100%;
    transition: all 0.3s ease-in-out; /* Update as needed */
}

.dark .buy-now--primary-before {
    border-bottom: 1px solid white; /* Update color as needed */
    border-left: 1px solid white;
}

.buy-now--primary-after {
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid black;
    border-top: 1px solid black;
    height: 100%;
    right: -2px;
    top: 2px;
    width: 2px;
    transition: all 0.3s ease-in-out; /* Update as needed */
}

.dark .buy-now--primary-after {
    border-right: 1px solid white;
    border-top: 1px solid white;
}



.buy-now--primary-container.active .buy-now--primary-before,
.buy-now--primary-container.active .buy-now--primary-after {
    display: none;
}

body .cursor-zoom-in {
    cursor: url('/images/icon-cursor-zoom.cur'), auto;
    cursor: url('/images/icon-cursor-zoom.svg') 24 24, auto;

}

body .cursor-zoom-out {
    cursor: url('/images/icon-cursor-zoomed.cur'), auto;
    cursor: url('/images/icon-cursor-zoomed.svg') 24 24, auto;
}

.scale-2 {
    transform: scale(2);
}
.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 0.15rem;  /* Adjusted padding to be a bit smaller */
    bottom: 0.15rem;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #a8a7a7;
}

input:checked + .slider:before {
    transform: translateX(1.5rem);  /* Adjusted translation to move the circle out completely */
}

.slider.round {
    border-radius: 1.5rem;
}

.slider.round:before {
    border-radius: 50%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 52;
}

.modal-backdrop-blur {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 52;
}

.scroll-shadows {
    max-height: 200px;
    overflow: auto;


    background:
        /* Shadow Cover TOP */
            linear-gradient(
                    white 50%,
                    rgba(255, 255, 255, 0)
            ) center top,

                /* Shadow Cover BOTTOM */
            linear-gradient(
                    rgba(255, 255, 255, 0),
                    white 50%
            ) center bottom,

                /* Shadow TOP */
            radial-gradient(
                    farthest-side at 50% 0,
                    rgba(0, 0, 0, 0.4),  /* increased opacity */
                    rgba(0, 0, 0, 0)
            ) center top,

                /* Shadow BOTTOM */
            radial-gradient(
                    farthest-side at 50% 100%,
                    rgba(0, 0, 0, 0.4),  /* increased opacity */
                    rgba(0, 0, 0, 0)
            ) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 50px, 100% 50px, 100% 20px, 100% 20px;  /* increased shadow size */
    background-attachment: local, local, scroll, scroll;
}

.dark .scroll-shadows {

    background:
        /* Shadow Cover TOP */
            linear-gradient(
                    #0B161A 50%,  /* using the provided dark background color */
                    rgba(11, 22, 26, 0)
            ) center top,

                /* Shadow Cover BOTTOM */
            linear-gradient(
                    rgba(11, 22, 26, 0),
                    #0B161A 50%  /* using the provided dark background color */
            ) center bottom,

                /* Shadow TOP */
            radial-gradient(
                    farthest-side at 50% 0,
                    rgba(255, 255, 255, 0.4),  /* white shadow for dark theme */
                    rgba(255, 255, 255, 0)
            ) center top,

                /* Shadow BOTTOM */
            radial-gradient(
                    farthest-side at 50% 100%,
                    rgba(255, 255, 255, 0.4),  /* white shadow for dark theme */
                    rgba(255, 255, 255, 0)
            ) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 50px, 100% 50px, 100% 20px, 100% 20px;
    background-attachment: local, local, scroll, scroll;
}


.dark .dark-linear-gradient {
    background: linear-gradient(to bottom, #191919, #1f1f1f, #1c1c1c, #1f1f1f, #191919);
}

.dark .blue-linear-gradient {
    background: linear-gradient(to bottom, #0b2b35, #0a3441, #0b3d4d, #0a3441, #0b2b35);
}


.mySwiper2 {
    height: 80%;
    width: 100vw;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #E8F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 55vh;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 9vh;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 325px) {
    .mySwiper .swiper-slide {
        height: 10vh;
    }

    .swiper-slide img {
        object-fit: contain;
    }


    .swiper {
        height: 60vh;
    }
    .mySwiper {

        height: 20%;
    }

}

@media (min-width: 375px) {
    .mySwiper .swiper-slide {
        height: 12vh;
    }

    .swiper-slide img {
        object-fit: contain;
    }


    .swiper {
        height: 63vh;
    }
    .mySwiper {

        height: 20%;
    }

}



@media (min-width: 768px) {
    .mySwiper .swiper-slide {
        height: 14vh;
    }

    .swiper-slide img {
        object-fit: contain;
    }


    .swiper {
        height: 70vh;
    }
    .mySwiper {

        height: 20%;
    }

}

/* Add this class in your CSS file */
.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.logo-transition {
 transition: opacity 1.5s ease-in-out;
}

.black-gradient-background{
    background-image: radial-gradient( circle 345px at 23.4% -11.8%, rgb(9, 29, 86) 0.2%, rgb(3, 2, 3) 100.2% );

}

.black-gradient-background-reviews{
    background-image: radial-gradient( circle 815px at 23.4% -31.8%, rgb(9, 29, 86) 0.2%, rgb(3, 2, 3) 100.2% );

}

/* mobile black-gradient-background */
@media (min-width: 767px) {
    .black-gradient-background{
        background-image: radial-gradient( circle 815px at 23.4% -21.8%, rgb(9, 29, 86) 0.2%, rgb(3, 2, 3) 100.2% );
    }
}