
.stop-sticky {
    position: static;
}



.milestone {
    position: relative;
    width: 100%;
}


html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.target {
    font-kerning: none;
}

[data-valid] .form-input, [data-valid] .form-textarea, [data-valid] .form-select {
    border-color: green;
}

[data-invalid] .form-input, [data-invalid] .form-textarea, [data-invalid] .form-select {
    border-color: red;
}

Form.Message {
    display: none;
}

[data-invalid] Form.Message {
    display: block;
}



.headerVisible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    visibility: visible;
    transition: visibility 0.1s;
}

.headerHidden {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: visibility 0.1s;
}


.headerFullWidth {
    width: 99vw;
    margin: 0 auto!important;
    transition: width 0.3s ease-in-out;
}
/* Media query for headerFullWidth*/
@media (min-width: 768px) {
    .headerFullWidth {
        width: 99.2vw;
    }
}


.headerOnScroll {
    width: 99vw;

}

@media (min-width: 768px){
    .headerOnScroll{
        width: 80%;
        margin: 32px auto 0 auto!important;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        transition: width 0.1s ease-in-out, margin-top 0.1s ease-in-out, border-radius 0.1s ease-in-out;
    }
}



.buy-now--primary-container {
    position: relative;
}

.buy-now--primary-before {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid black; /* Update color as needed */
    border-left: 1px solid black;
    bottom: -2px;
    height: 2px;
    left: 2px;
    width: 100%;
    transition: all 0.3s ease-in-out; /* Update as needed */
}

.dark .buy-now--primary-before {
    border-bottom: 1px solid white; /* Update color as needed */
    border-left: 1px solid white;
}

.buy-now--primary-after {
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid black;
    border-top: 1px solid black;
    height: 100%;
    right: -2px;
    top: 2px;
    width: 2px;
    transition: all 0.3s ease-in-out; /* Update as needed */
}

.dark .buy-now--primary-after {
    border-right: 1px solid white;
    border-top: 1px solid white;
}



.buy-now--primary-container.active .buy-now--primary-before,
.buy-now--primary-container.active .buy-now--primary-after {
    display: none;
}

body .cursor-zoom-in {
    cursor: url('/images/icon-cursor-zoom.cur'), auto;
    cursor: url('/images/icon-cursor-zoom.svg') 24 24, auto;

}

body .cursor-zoom-out {
    cursor: url('/images/icon-cursor-zoomed.cur'), auto;
    cursor: url('/images/icon-cursor-zoomed.svg') 24 24, auto;
}

.scale-2 {
    transform: scale(2);
}
.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 0.15rem;  /* Adjusted padding to be a bit smaller */
    bottom: 0.15rem;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #a8a7a7;
}

input:checked + .slider:before {
    transform: translateX(1.5rem);  /* Adjusted translation to move the circle out completely */
}

.slider.round {
    border-radius: 1.5rem;
}

.slider.round:before {
    border-radius: 50%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 52;
}

.modal-backdrop-blur {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 52;
}

.scroll-shadows {
    max-height: 200px;
    overflow: auto;


    background:
        /* Shadow Cover TOP */
            linear-gradient(
                    white 50%,
                    rgba(255, 255, 255, 0)
            ) center top,

                /* Shadow Cover BOTTOM */
            linear-gradient(
                    rgba(255, 255, 255, 0),
                    white 50%
            ) center bottom,

                /* Shadow TOP */
            radial-gradient(
                    farthest-side at 50% 0,
                    rgba(0, 0, 0, 0.4),  /* increased opacity */
                    rgba(0, 0, 0, 0)
            ) center top,

                /* Shadow BOTTOM */
            radial-gradient(
                    farthest-side at 50% 100%,
                    rgba(0, 0, 0, 0.4),  /* increased opacity */
                    rgba(0, 0, 0, 0)
            ) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 50px, 100% 50px, 100% 20px, 100% 20px;  /* increased shadow size */
    background-attachment: local, local, scroll, scroll;
}

.dark .scroll-shadows {

    background:
        /* Shadow Cover TOP */
            linear-gradient(
                    #0B161A 50%,  /* using the provided dark background color */
                    rgba(11, 22, 26, 0)
            ) center top,

                /* Shadow Cover BOTTOM */
            linear-gradient(
                    rgba(11, 22, 26, 0),
                    #0B161A 50%  /* using the provided dark background color */
            ) center bottom,

                /* Shadow TOP */
            radial-gradient(
                    farthest-side at 50% 0,
                    rgba(255, 255, 255, 0.4),  /* white shadow for dark theme */
                    rgba(255, 255, 255, 0)
            ) center top,

                /* Shadow BOTTOM */
            radial-gradient(
                    farthest-side at 50% 100%,
                    rgba(255, 255, 255, 0.4),  /* white shadow for dark theme */
                    rgba(255, 255, 255, 0)
            ) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 50px, 100% 50px, 100% 20px, 100% 20px;
    background-attachment: local, local, scroll, scroll;
}

